<div class="wrapper">
    <header class="header">
        <a href="#" class="logo">
            MyNotes
        </a>
        <button class="btn-add-note _button" (click)="modal = true">
            Add note
        </button>
        <app-add-note *ngIf="modal" (addNote)="addNewNote($event)"
         (close)="modal = false"></app-add-note>
    </header>
    <app-all-tags (addRemoveSelectedTag)="addRemoveSelectedTag($event)">
    </app-all-tags>
    <div class="container">
        <div class="header-note">Notes</div>
        <div class="notes" *ngFor="let note of notes">
            <app-note [note]="note"></app-note>
        </div>
    </div>
</div>

