* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Montserrat;
    font-size: 20px;
}

span.selected-item-container > span.selected-item {
    max-width: 100%!important;
}   


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
