<div class="container" *ngIf="note.active">
    <div class="note">
        <div class="note-desc">- <span [innerHTML]="note.noteDescription | hashtagHighlight: note.tags"></span></div>
        <button class="btn-more" (click)="moreInfo=!moreInfo; blockButtonEdit()">More</button>
        <button class="btn-edit" (click)="editable=!editable; blockButtonMore()">Edit</button>
        <button class="btn-delete" (click)="deleteNote();" >Delete</button>
    </div>
    <div class="edit-note" *ngIf="editable || moreInfo">
        <div class="info"></div>
        <input type="text" placeholder="note" 
        hashtag [ngModel]="note.noteDescription" (hashtags)="inizTags($event)"
        class="input-desc" [value]="note.noteDescription" 
        #newNote 
        [disabled]="moreInfo">
        <div class="tags">
            <p class="header-tags">Tags:</p>
            <ul class="list-tags" *ngFor="let tag of note.tags">
                <li class="list-tags-item">
                    {{tag}}
                </li>
            </ul>
        </div>
        <div class="btn-wrapper" *ngIf="editable && !moreInfo">
            <button class="btn-save" (click)="saveNote(newNote.value);editable=!editable">Save</button>
            <button class="btn-cancel" (click)="editable=!editable">Cancel</button>
        </div>
    </div>
</div>


